.name{
    margin-left: 10px;
    color: rgb(31, 35, 33);
    font-family: 'Lucida Sans',  sans-serif;

}

.slider-wrapper {
    position: relative;
    margin-bottom: 50px;
  }
  
  .slider-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
  }
  
  .slider-img {
    height: 200px;
    border-radius: 8px;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
  
  

  .scroll-left,
.scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.scroll-left {
  left: 0.5rem;
}

.scroll-right {
  right: 0.5rem;
}

.scroll-left.visible,
.scroll-right.visible {
  opacity: 1;
}

.slider-wrapper {
  position: relative;
  margin-bottom: 2rem;
}

.slider-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 2rem;
}

   